/*
Change these options to customize the color scheme and a few layout options of your website.
Most layout options are provided by the comic_git_engine by files in the `css/` directory.
I do not recommend messing with those settings unless you know what you're doing, or you're
willing to spend a lot of time on trial and error.

For any colors, you can represent them in hexadecimal like this (#FF0000 = red)
or use this list of available color names: https://www.w3schools.com/cssref/css_colors.asp
 */

/* Global values */
body {
    font-family: 'PT Sans', sans-serif;  /* The font of all the text on all pages */
    color: black;  /* The color of the font of all of the text on your whole website, except links.
                      If you want to change the color of text in certain parts of the page, and not the whole site,
                      you can define `color` in other blocks and it will only apply to that element and all
                      of the elements it contains. */
    background-color: white;  /* The color of the background behind everything */
    background-image: url("../../../images/background_image.png");  /* The pattern on the background. Delete to change to a solid color
                                                                       or replace with your own image to tile across your background. */
}

h1, h2, h3 {
    font-family: 'Roboto Slab', cursive;
}

a {
    color: #2E9BC7;  /* The color of the hyperlinks */
}

#container {
    min-width: 200px;
    max-width: 1500px;  /* The width of the main box that contains all content on the pages */
    margin: 0 auto;
    background-color: white;  /* The background color of the main box */
    box-shadow: 5px 5px 10px lightgray;  /* This is the drop shadow of the main box. If you change the background color
                                            of your website, play with this or else it will look bad. */
    border: 2px white;
}

/* New copied from CosmicCaliber */
@media (max-width: 768px) {
    #container {
        min-width: 100%; /* Set the minimum width to 100% on smaller screens */
    }
    #banner {
        min-width: 100%; /* Set the minimum width to 100% on smaller screens */
    }

}

/* Also copied from CosmicCaliber */
#banner {
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}




/* Top navigation links bar  -- old version*/
/* #links-bar {
    background-color: #2E9BC7;  
} */

#links-bar.desktop-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E9BC7;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
}

a.link-bar-link {
    color: white;  /* The color of the links in your links bar */
    font-weight: bold;  /* Delete this to unbold the links in your links bar*/
    text-decoration: none;  /* Delete this line to put underlining on the links in your links bar */
}

a.link-bar-link:hover {
    color: black;  /* The color of the links in your links bar while the cursor is hovering over them */
}

/* Comic navigation buttons */
a.navigation-button {
    color: #2E9BC7;  /* Color of the navigation bar hyperlinks */
    font-size: 2em;  /* Size of the navigation bar hyperlinks */
    text-decoration: none;  /* Delete this if you want your navigation links to be underlined */
}

a.navigation-button-disabled {
    color: gray;  /* Color of the disabled navigation bar hyperlinks */
    font-size: 2em;  /* Size of the disabled navigation bar hyperlinks */
    text-decoration: none;  /* Delete this if you want your disabled navigation links to be underlined */
}

/* Borrowed from CosmicCaliber */
div#blurb {
    background-color: lightgray;  /* The color of the "blurb" box that contains post title, post date, tags, etc. */
    width: 75%;  /* The maximum width of the blurb box. */
    border-left: 3px dotted lightslategray;  /* If you change the background color of the blurb, play with these two lines or else it will look bad */
    border-right: 3px dotted lightslategray;
}

/* Buttons: turn any link into a button by adding class="button" within the <a> tag */
.button {
    background-color: #2E9BC7;  /* Color of button hyperlinks */
    color: white;  /* Color of the words in button hyperlinks */
}

.button:hover {
    background-color: #62C5E8;  /* Color of button hyperlinks when the mouse hovers over it */
    color: white;    /* Color of the words in button hyperlinks when the mouse hovers over it */
}

/* The blue background with the dotted borders that shows up on most pages. */
#blurb {
    background-color: #F6FBFE;  /* The color of the "blurb" box that contains post title, post date, tags, etc. */
    width: 75%;  /* The maximum width of the blurb box. */
    border-left: 3px dotted #62C5E8;  /* If you change the background color of the blurb, play with these two lines or else it will look bad */
    border-right: 3px dotted #62C5E8; /* You can also just delete these two lines if you don't want a dotted border on the blurb box */
}

/* This is just some code to make monospaced text a little more readable */
code {
    font-size: 120%;  /* Make the text a little bigger */
    background-color: #F0F0F0;  /* Give it a very light gray background */
    border: 1px solid gray;  /* Give it a gray border... */
    border-radius: 5px;  /* ... with rounded corners. */
    padding-left: 5px;  /* A little padding between the text and the border on the left... */
    padding-right: 5px;  /* ... and the right. */
    white-space: pre; /* Prevents code blocks from being word-wrapped */
}

#post-title {
    color: black;  /* Color of the post title */
    font-size: 3em;  /* Font size of the post title */
    font-family: 'Roboto Slab', cursive;
}

#post-date {
    font-weight: bold;  /* Delete this to unbold the post date */
}

#storyline, #characters, #tags {
    font-style: italic;  /* Delete this to unitalicize the tags */
}


/* Following all borrowed from CosmicCaliber */

/* Hide the hamburger menu and display desktop navigation by default */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */

}

/* Styles for mobile view */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, #9654cd, #8a40c7);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        width: 100%;
        margin: 0 auto;
    }

    .desktop-nav {
        display: none; /* Ensure the desktop-nav is hidden by default */
        flex-direction: column;
    }
}

.centered-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    transform: scale(0.6);
    transform-origin: center;
}

.navigation-icons img {
    margin: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}

.navigation-icons img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 6px orange);
}

/* My own customizations */

.comic-image {
  max-width: 1000px;
}